<h1>
    <%= data.title %>
</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên</th>
            <th scope="col">Tài khoản</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Email</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Quyền</th>
            <th scope="col">Cấu hình</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Nguyễn Văn A</td>
            <td>nva</td>
            <td>Nam</td>
            <td>nva@gmail.com</td>
            <td>Cần Thơ</td>
            <td>User</td>
            <td></td>
        </tr>
        <tr class="table-primary">
            <th scope="row">1</th>
            <td>Nguyễn Văn B</td>
            <td>nvb</td>
            <td>Nam</td>
            <td>nvb@gmail.com</td>
            <td>Cần Thơ</td>
            <td>User</td>
            <td></td>
        </tr>
    </tbody>
</table>